.wl-searchperiod-type {
 	margin-right: 8px;

    label.ant-radio-button-checked {
        background: #ff2b4d;
        color: #fff;
    }
}
.wl-searchperiod-removedate {
	display: inline-block;
	margin-left: 8px;
}