.datatable-module {
    background: #fff;
    .ant-table-fixed-left td,
    .ant-table-fixed-left th,
    .ant-table-fixed-right td,
    .ant-table-fixed-right th,
    .ant-table-scroll td,
    .ant-table-scroll th{
        white-space: normal;
        word-wrap: break-word; 
        word-break: break-all;
    }

    .ant-table-bordered tbody tr:last-child th, 
    .ant-table-bordered tbody tr:last-child td {
        border-bottom: 1px solid #e9e9e9;
    }

    /*// 滚动条样式设置；
	.ant-table-body::-webkit-scrollbar,.ant-table-header::-webkit-scrollbar {
        width: 5px ;
        height: 7px;
    }
	.ant-table-body::-webkit-scrollbar-button,.ant-table-header::-webkit-scrollbar-button {
		display: none;
	}
	.ant-table-body::-webkit-scrollbar-track,.ant-table-header::-webkit-scrollbar-track {
		display: none;
	}*/
	/*::-webkit-scrollbar-track-piece {
    background-color: #f7f7f7;
    }
    ::-webkit-scrollbar-corner {
    background-color: #f7f7f7;
}*/
}
.column {
    text-align: center !important
}
